<mat-toolbar>
  <!-- <div mat-card-avatar class="example-header-image"></div> -->
  <img mat-card-avatar src="https://www.memozor.com/templates/memoire/images/memory_game_kids_colors_8_1.jpg"
    alt="Memory Game" />
  <h2>Welcome to Memory!</h2>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Start New Local Game">
    <ng-template matTabContent>
      <app-create-local-game-view></app-create-local-game-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Start New Network Game">
    <ng-template matTabContent>
      <app-create-server-game-view></app-create-server-game-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Join Existing Network Game">
    <ng-template matTabContent>
      <app-join-server-game-view></app-join-server-game-view>
    </ng-template>
  </mat-tab>
</mat-tab-group>
