h1 {
  color: grey;
  /* font-family: sans-serif; */
}
button {
  margin-top: 10px;
}

.settings-card {
  color: rgba(49, 155, 247, 0.6);
  margin: auto;
  width: 75%;
  border: 1px solid rgba(49, 155, 247, 0.6);
  padding: 10px;
}

.settings-form-field {
  width: 100%;
  margin-bottom: 10px;
}
