.settings-card {
  color: rgba(49, 155, 247, 0.6);
  margin: 10px auto 10px auto;
  max-width: 400px;
  padding: 10px;
  border-radius: 2px;
}

.settings-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.settings-form-button {
  margin-top: 10px;
  background-color: rgba(49, 155, 247, 0.6);
}
