<mat-card class="settings-card">
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="settings-form-field">
        <input name="playerOne" matInput placeholder="Player 2" [formControl]="playerTwoFormControl"
          [errorStateMatcher]="matcher" />
        <mat-hint>Please enter your name!</mat-hint>
        <mat-error *ngIf="playerTwoFormControl.hasError('minLength') && !playerTwoFormControl.hasError('required')">
          Please enter a player name with min length of 4 characters.
        </mat-error>
        <mat-error *ngIf="playerTwoFormControl.hasError('required')">
          Player name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-list role="list">
      <ng-container *ngFor="let session of sessions; let i = index">
        <mat-list-item role="listitem">
          <p matLine>{{ session.name }}</p>
          <button matLine class="settings-form-button" (click)="onSubmit(session)" mat-raised-button
            [disabled]="!form.valid" color="primary">
            Join Existing Network Game
          </button>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
